.artwork {
    background-color: #ffffff;
    border: 1px solid #a49380;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
    text-align: center;
    cursor: pointer;
}

.artwork:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.artwork img {
    max-width: 100%;
    border-bottom: 1px solid #a49380;
}

.artwork-card-details {
    padding: 15px;
}

.artwork-card-details h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #3b3054; /* Rich purple */
}

.artwork-card-details p {
    margin: 0.2em 0;
    font-size: 1em;
    color: #5e5252; /* Grey */
}
