.Header {
  background-color: var(--primary);
  color: var(--white);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header h1 {
  font-size: 1.8em;
  margin: 0;
}

.Header nav {
  display: flex;
  gap: 15px;
}

.Header nav a, .Header nav button {
  color: var(--white);
  text-decoration: none;
  background-color: var(--secondary);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Header nav a:hover, .Header nav button:hover {
  background-color: var(--primary);
}
