/* src/components/Footer/Footer.css */


.Footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: fixed; /* Change to fixed */
  width: 100%;
  bottom: 0; /* Add this line */
}
  
  .Footer p {
    margin: 0;
  }
  