.LandingPage {
  text-align: center;
  font-family: Arial, sans-serif;
}

.hero {
  background: url('/Users/yamini/code/art-gallery/src/background.jpg') no-repeat center center fixed;
  background-size: cover;
  padding: 100px 20px;
  color: #fff;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto; 
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #007bff; 
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3; 
}